In [1]:
"AIzaSyBX2AMdnB8m0hMIaCLxBA4DfBDT9W1kWYA"

'AIzaSyBX2AMdnB8m0hMIaCLxBA4DfBDT9W1kWYA'

In [2]:
from googleapiclient.discovery import build
import pymongo
import pymysql
import pandas as pd
import streamlit as st

In [3]:
#API key connection
def Api_connect():
    Api_Id="AIzaSyBX2AMdnB8m0hMIaCLxBA4DfBDT9W1kWYA"
    api_service_name="youtube"
    api_version="v3"

    youtube=build(api_service_name,api_version,developerKey=Api_Id)

    return youtube

youtube=Api_connect()

In [4]:
youtube

In [5]:
request=youtube.channels().list(
                 part="snippet,ContentDetails,statistics",
                 id="UCJcCB-QYPIBcbKcBQOTwhiA",
)
response=request.execute()

In [6]:
#get channels information
def get_channel_info(channel_id):

    request=youtube.channels().list(
                    part="snippet,ContentDetails,statistics",
                    id=channel_id
    )
    response=request.execute()

    for i in response['items']:
        data=dict(Channel_Names=i["snippet"]["title"],
                Channel_Id=i["id"],
                Subscribers=i['statistics']['subscriberCount'],
                Views=i["statistics"]["viewCount"],
                Total_Videos=i["statistics"]["videoCount"],
                Channel_Description=i["snippet"]["description"],
                Playlist_Id=i["contentDetails"]["relatedPlaylists"]["uploads"])
    return data

In [7]:
channel_details=get_channel_info("UCJcCB-QYPIBcbKcBQOTwhiA")

In [ ]:
channel_details

In [8]:
#get video ids
def get_videos_ids(channel_id):
    video_ids=[]
    response=youtube.channels().list(id=channel_id,
                                    part='contentDetails').execute()
    Playlist_Id=response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

    next_page_token=None

    while True:
        response1=youtube.playlistItems().list(
                                            part='snippet',
                                            playlistId=Playlist_Id,
                                            maxResults=50,
                                            pageToken=next_page_token).execute()
        for i in range(len(response1['items'])):
            video_ids.append(response1['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token=response1.get('nextPageToken')
        if next_page_token is None:
            break
    return video_ids

In [9]:
Video_Ids=get_videos_ids('UCJcCB-QYPIBcbKcBQOTwhiA')

In [ ]:
Video_Ids

In [9]:
len(Video_Ids)

114

In [10]:
#get video information
def get_video_info(video_ids):
    video_data=[]
    for video_id in video_ids:
        request=youtube.videos().list(
            part="snippet,ContentDetails,statistics",
            id=video_id
        )
        response=request.execute()

        for item in response["items"]:
            data=dict(Channel_Name=item['snippet']['channelTitle'],
                    Channel_Id=item['snippet']['channelId'],
                    Video_Id=item['id'],
                    Title=item['snippet']['title'],
                    Tags=item['snippet'].get('tags'),
                    Thumbnail=item['snippet']['thumbnails']['default']['url'],
                    Description=item['snippet'].get('description'),
                    Published_Date=item['snippet']['publishedAt'],
                    Duration=item['contentDetails']['duration'],
                    Views=item['statistics'].get('viewCount'),
                    Likes=item['statistics'].get('likeCount'),
                    Comments=item['statistics'].get('commentCount'),
                    Favorite_Count=item['statistics']['favoriteCount'],
                    Definition=item['contentDetails']['definition'],
                    Caption_Status=item['contentDetails']['caption']
                    )
            video_data.append(data)
    return video_data

In [11]:
video_details=get_video_info(Video_Ids)

In [ ]:
video_details

In [10]:
len(video_details)

114

In [12]:
#get comment information
def get_comment_info(video_ids):
    Comment_data=[]
    try:
        for video_id in video_ids:
            request=youtube.commentThreads().list(
                part="snippet",
                videoId=video_id,
                maxResults=50
            )
            response=request.execute()

            for item in response['items']:
                data=dict(Comment_Id=item['snippet']['topLevelComment']['id'],
                        Video_Id=item['snippet']['topLevelComment']['snippet']['videoId'],
                        Comment_Text=item['snippet']['topLevelComment']['snippet']['textDisplay'],
                        Comment_Author=item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                        Comment_Published=item['snippet']['topLevelComment']['snippet']['publishedAt'])
                
                Comment_data.append(data)
    except:
        pass
    return Comment_data

In [13]:
comment_details=get_comment_info(Video_Ids)

In [ ]:
comment_details

In [14]:
#get_playlist_details

def get_playlist_details(channel_id):
    next_page_token=None
    All_data=[]
    while True:
        request=youtube.playlists().list(
            part="snippet,contentDetails",
            channelId=channel_id,
            maxResults=50,
            pageToken=next_page_token
        )
        response=request.execute()

        for item in response['items']:
            data=dict(Playlist_Id=item['id'],
                    Title=item['snippet']['title'],
                    Channel_Id=item['snippet']['channelId'],
                    Channel_Name=item['snippet']['channelTitle'],
                    PublishedAt=item['snippet']['publishedAt'],
                    Video_Count=item['contentDetails']['itemCount'])
            All_data.append(data)
        
        next_page_token=response.get('nextPageToken')
        if next_page_token is None:
            break
    return All_data

In [15]:
playlist_details=get_playlist_details('UC9LjrPL1bLjJ2oIU3NSdcMQ')

In [ ]:
playlist_details

In [16]:
#upload to mongoDB

client=pymongo.MongoClient("mongodb://localhost:27017")
db=client["Youtube_data"]

In [17]:
def channel_details(channel_id):
    ch_details=get_channel_info(channel_id)
    pl_details=get_playlist_details(channel_id)
    vi_ids=get_videos_ids(channel_id)
    vi_details=get_video_info(vi_ids)
    com_details=get_comment_info(vi_ids)

    coll1=db["channel_details"]
    coll1.insert_one({"channel_information":ch_details,"playlist_information":pl_details,
                      "video_information":vi_details,"comment_information":com_details})
    return "upload completed successfully"

In [18]:
insert=channel_details("UCJcCB-QYPIBcbKcBQOTwhiA")

In [19]:
insert

'upload completed successfully'

In [18]:
#Table creation for channels,playlists,videos,comments
def channels_table():
    mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
    cursor=mydb.cursor()

    drop_query='''DROP TABLE IF EXISTS channels'''
    cursor.execute(drop_query)
    mydb.commit()


    try:
        create_query='''CREATE TABLE IF NOT EXISTS channels(Channel_Names varchar(100),
                                                            Channel_Id varchar(80) primary key,
                                                            Subscribers bigint,
                                                            Views bigint,
                                                            Total_Videos int,
                                                            Channel_Description text,
                                                            Playlist_Id varchar(80)
                                                            )'''
        cursor.execute(create_query)
        mydb.commit()
    except:
        print("channel table already created")


    ch_list=[]
    db=client["Youtube_data"]
    coll1=db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data["channel_information"])
    df=pd.DataFrame(ch_list)



    for index,row in df.iterrows():
        insert_query='''INSERT INTO channels(Channel_Names ,
                                            Channel_Id,
                                            Subscribers,
                                            Views,
                                            Total_Videos,
                                            Channel_Description,
                                            Playlist_Id)
                                            
                                            values(%s,%s,%s,%s,%s,%s,%s)'''
        values=(row['Channel_Names'],
                row['Channel_Id'],
                row['Subscribers'],
                row['Views'],
                row['Total_Videos'],
                row['Channel_Description'],
                row['Playlist_Id'])
        
        try:
            cursor.execute(insert_query,values)
            mydb.commit()

        except:
            print("Channel values are already inserted")

In [19]:
mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
cursor=mydb.cursor()

drop_query='''DROP TABLE IF EXISTS channels'''
cursor.execute(drop_query)
mydb.commit()


try:
    create_query='''CREATE TABLE IF NOT EXISTS channels(Channel_Names varchar(100),
                                                        Channel_Id varchar(80) primary key,
                                                        Subscribers bigint,
                                                        Views bigint,
                                                        Total_Videos int,
                                                        Channel_Description text,
                                                        Playlist_Id varchar(80)
                                                        )'''
    cursor.execute(create_query)
    mydb.commit()
except:
    print("channel table already created")

In [20]:
ch_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
    ch_list.append(ch_data["channel_information"])
df=pd.DataFrame(ch_list)

In [21]:
for index,row in df.iterrows():
        insert_query='''INSERT INTO channels(Channel_Names ,
                                            Channel_Id,
                                            Subscribers,
                                            Views,
                                            Total_Videos,
                                            Channel_Description,
                                            Playlist_Id)
                                            
                                            values(%s,%s,%s,%s,%s,%s,%s)'''
        values=(row['Channel_Names'],
                row['Channel_Id'],
                row['Subscribers'],
                row['Views'],
                row['Total_Videos'],
                row['Channel_Description'],
                row['Playlist_Id'])
        
        try:
            cursor.execute(insert_query,values)
            mydb.commit()

        except:
            print("Channel values are already inserted")

In [51]:
def platlist_table():

    mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
    cursor=mydb.cursor()

    drop_query='''DROP TABLE IF EXISTS playlists'''
    cursor.execute(drop_query)
    mydb.commit()



    create_query='''CREATE TABLE IF NOT EXISTS playlists(Playlist_Id varchar(100) primary key,
                                                        Title varchar(100),
                                                        Channel_Id varchar(100),
                                                        Channel_Name varchar(100),
                                                        PublishedAt DATETIME,
                                                        Video_Count int
                                                        )'''

    cursor.execute(create_query)
    mydb.commit()

    pl_list=[]
    db=client["Youtube_data"]
    coll1=db["channel_details"]
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["playlist_information"][i])

    df1=pd.DataFrame(pl_list)

    

    for index,row in df1.iterrows():
            insert_query='''INSERT INTO playlists(Playlist_Id,
                                                Title,
                                                Channel_Id,
                                                Channel_Name,
                                                PublishedAt ,
                                                Video_Count
                                                )

                                                values(%s,%s,%s,%s,%s,%s)'''
            values=(row['Playlist_Id'],
                    row['Title'],
                    row['Channel_Id'],
                    row['Channel_Name'],
                    row['PublishedAt'],
                    row['Video_Count']
                    )
            
            
            cursor.execute(insert_query,values)
            mydb.commit()

In [22]:
mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
cursor=mydb.cursor()

drop_query='''DROP TABLE IF EXISTS playlists'''
cursor.execute(drop_query)
mydb.commit()



create_query='''CREATE TABLE IF NOT EXISTS playlists(Playlist_Id varchar(100) primary key,
                                                    Title varchar(100),
                                                    Channel_Id varchar(100),
                                                    Channel_Name varchar(100),
                                                    PublishedAt DATETIME,
                                                    Video_Count int
                                                    )'''

cursor.execute(create_query)
mydb.commit()

In [23]:
pl_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
    for i in range(len(pl_data["playlist_information"])):
        pl_list.append(pl_data["playlist_information"][i])

df1=pd.DataFrame(pl_list)

In [25]:
for index,row in df1.iterrows():
            insert_query='''INSERT INTO playlists(Playlist_Id,
                                                Title,
                                                Channel_Id,
                                                Channel_Name,
                                                PublishedAt,
                                                Video_Count
                                                )

                                                values(%s,%s,%s,%s,%s,%s)'''
            values=(row['Playlist_Id'],
                    row['Title'],
                    row['Channel_Id'],
                    row['Channel_Name'],
                    row['PublishedAt'],
                    row['Video_Count']
                    )
            
            
            cursor.execute(insert_query,values)
            mydb.commit()

OperationalError: (1292, "Incorrect datetime value: '2023-12-15T11:35:49Z' for column 'PublishedAt' at row 1")

In [35]:
def videos_table():

    mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
    cursor=mydb.cursor()

    drop_query='''DROP TABLE IF EXISTS videos'''
    cursor.execute(drop_query)
    mydb.commit()


    create_query='''CREATE TABLE IF NOT EXISTS videos(Channel_Name varchar(100),
                                                    Channel_Id varchar(100),
                                                    Video_Id varchar(30),
                                                    Title varchar(150),
                                                    Tags text,
                                                    Thumbnail varchar(200),
                                                    Description text,
                                                    Published_Date DATETIME,
                                                    Duration TIME,
                                                    Views bigint,
                                                    Likes bigint,
                                                    Comments int,
                                                    Favorite_Count int,
                                                    Definition varchar(10),
                                                    Caption_Status varchar(50)
                                                        )'''

    cursor.execute(create_query)
    mydb.commit()

    vi_list=[]
    db=client["Youtube_data"]
    coll1=db["channel_details"]
    for vi_data in coll1.find({},{"_id":0,"video_information":1}):
        for i in range(len(vi_data["video_information"])):
            vi_list.append(vi_data["video_information"][i])

    df2=pd.DataFrame(vi_list)


    for index,row in df2.iterrows():
        insert_query='''insert into videos(Channel_Name ,
                                            Channel_Id,
                                            Video_Id,
                                            Title,
                                            Tags,
                                            Thumbnail,
                                            Description,
                                            Published_Date,
                                            Duration,
                                            Views,
                                            Likes,
                                            Comments,
                                            Favorite_Count,
                                            Definition,
                                            Caption_Status
                                            )
                                            
                                            values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
        values=(row['Channel_Name'],
                row['Channel_Id'],
                row['Video_Id'],
                row['Title'],
                row['Tags'],
                row['Thumbnail'],
                row['Description'],
                row['Published_Date'],
                row['Duration'],
                row['Views'],
                row['Likes'],
                row['Comments'],
                row['Favorite_Count'],
                row['Definition'],
                row['Caption_Status']
                )
        cursor.execute(insert_query,values)
        mydb.commit()

In [30]:
mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
cursor=mydb.cursor()

drop_query='''DROP TABLE IF EXISTS videos'''
cursor.execute(drop_query)
mydb.commit()


create_query='''CREATE TABLE IF NOT EXISTS videos(Channel_Name varchar(100),
                                                Channel_Id varchar(100),
                                                Video_Id varchar(30),
                                                Title varchar(150),
                                                Tags text,
                                                Thumbnail varchar(200),
                                                Description text,
                                                Published_Date DATETIME,
                                                Duration TIME,
                                                Views bigint,
                                                Likes bigint,
                                                Comments int,
                                                Favorite_Count int,
                                                Definition varchar(10),
                                                Caption_Status varchar(50)
                                                    )'''

cursor.execute(create_query)
mydb.commit()

In [32]:
vi_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for vi_data in coll1.find({},{"_id":0,"video_information":1}):
    for i in range(len(vi_data["video_information"])):
        vi_list.append(vi_data["video_information"][i])

df2=pd.DataFrame(vi_list)

In [34]:
for index,row in df2.iterrows():
        insert_query='''insert into videos(Channel_Name ,
                                            Channel_Id,
                                            Video_Id,
                                            Title,
                                            Tags,
                                            Thumbnail,
                                            Description,
                                            Published_Date,
                                            Duration,
                                            Views,
                                            Likes,
                                            Comments,
                                            Favorite_Count,
                                            Definition,
                                            Caption_Status
                                            )
                                            
                                            values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
        values=(row['Channel_Name'],
                row['Channel_Id'],
                row['Video_Id'],
                row['Title'],
                row['Tags'],
                row['Thumbnail'],
                row['Description'],
                row['Published_Date'],
                row['Duration'],
                row['Views'],
                row['Likes'],
                row['Comments'],
                row['Favorite_Count'],
                row['Definition'],
                row['Caption_Status']
                )
        cursor.execute(insert_query,values)
        mydb.commit()

ProgrammingError: nan can not be used with MySQL

In [45]:
def comments_table():

    mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
    cursor=mydb.cursor()

    drop_query='''DROP TABLE IF EXISTS comments'''
    cursor.execute(drop_query)
    mydb.commit()



    create_query='''CREATE TABLE IF NOT EXISTS comments(Comment_Id varchar(100) primary key,
                                                        Video_Id varchar(50),
                                                        Comment_Text text,
                                                        Comment_Author varchar(150),
                                                        Comment_Published DATETIME,
                                                        )'''

    cursor.execute(create_query)
    mydb.commit()

    com_list=[]
    db=client["Youtube_data"]
    coll1=db["channel_details"]
    for com_data in coll1.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])

    df3=pd.DataFrame(com_list)

    

    for index,row in df3.iterrows():
            insert_query='''INSERT INTO comments(Comment_Id,
                                                Video_Id,
                                                Comment_Text,
                                                Comment_Author,
                                                Comment_Published
                                                )

                                                values(%s,%s,%s,%s,%s)'''
            values=(row['Comment_Id'],
                    row['Video_Id'],
                    row['Comment_Text'],
                    row['Comment_Author'],
                    row['Comment_Published']
                    )
            
            
            cursor.execute(insert_query,values)
            mydb.commit()

In [49]:
def tables():
    channels_table()
    playlist_table()
    videos_table()
    comments_table()

    return"Tables Created Successfully"

In [52]:
Tables=tables()

NameError: name 'playlist_table' is not defined

In [31]:
vi_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for vi_data in coll1.find({},{"_id":0,"video_information":1}):
    for i in range(len(vi_data["video_information"])):
        vi_list.append(vi_data["video_information"][i])

df2=pd.DataFrame(vi_list)

In [43]:
com_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for com_data in coll1.find({},{"_id":0,"comment_information":1}):
    for i in range(len(com_data["comment_information"])):
        com_list.append(com_data["comment_information"][i])

df3=pd.DataFrame(com_list)

In [ ]:
for index,row in df2.iterrows():
    insert_query='''insert into videos(Channel_Name ,
                                        Channel_Id,
                                        Video_Id,
                                        Title,
                                        Tags,
                                        Thumbnail,
                                        Description,
                                        Published_Dates,
                                        Duration,
                                        Views,
                                        Likes,
                                        Comments,
                                        Favorite_Count,
                                        Definition,
                                        Caption_Status
                                        )
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
    values=(row['Channel_Name'],
            row['Channel_Id'],
            row['Video_Id'],
            row['Title'],
            row['Tags'],
            row['Thumbnail'],
            row['Description'],
            row['Published_Dates'],
            row['Duration'],
            row['Views'],
            row['Likes'],
            row['Comments'],
            row['Favorite_Count'],
            row['Definition'],
            row['Caption_Status']
            )
    cursor.execute(insert_query,values)
    mydb.commit()

In [27]:
pl_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
    for i in range(len(pl_data["playlist_information"])):
        pl_list.append(pl_data["playlist_information"][i])

df1=pd.DataFrame(pl_list)

In [ ]:
df1

In [ ]:
mydb=pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="ajay",
                    database="youtube_data")
cursor=mydb.cursor()

for index,row in df1.iterrows():
        insert_query='''INSERT INTO playlists(Playlist_Id,
                                             Title,
                                             Channel_Id,
                                             Channel_Name,
                                             PublishedAt ,
                                             Video_Count
                                             )

                                              values(%s,%s,%s,%s,%s,%s)'''
        values=(row['Playlist_Id'],
                row['Title'],
                row['Channel_Id'],
                row['Channel_Name'],
                row['PublishedAt'],
                row['Video_Count']
                )
        
        
        cursor.execute(insert_query,values)
        mydb.commit()

In [39]:
mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
cursor=mydb.cursor()

drop_query='''DROP TABLE IF EXISTS playlists'''
cursor.execute(drop_query)
mydb.commit()


create_query='''CREATE TABLE IF NOT EXISTS playlists(Playlist_Id varchar(100) primary key,
                                                        Title varchar(100),
                                                        Channel_Id varchar(100),
                                                        Channel_Name varchar(100),
                                                        PublishedAt DATETIME,
                                                        Video_Count int
                                                        )'''

cursor.execute(create_query)
mydb.commit()

In [27]:

for index,row in df.iterrows():
    insert_query='''INSERT INTO channels(Channel_Names ,
                                         Channel_Id,
                                         Subscribers,
                                         Views,
                                         Total_Videos,
                                         Channel_Description,
                                         Playlist_Id)
                                         
                                         values(%s,%s,%s,%s,%s,%s,%s)'''
    values=(row['Channel_Names'],
            row['Channel_Id'],
            row['Subscribers'],
            row['Views'],
            row['Total_Videos'],
            row['Channel_Description'],
            row['Playlist_Id'])
    
    try:
        cursor.execute(insert_query,values)
        mydb.commit()

    except:
        print("Channel values are already inserted")

Channel values are already inserted
Channel values are already inserted
Channel values are already inserted
Channel values are already inserted

In [ ]:
df

In [26]:
ch_list=[]
db=client["Youtube_data"]
coll1=db["channel_details"]
for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
    ch_list.append(ch_data["channel_information"])
df=pd.DataFrame(ch_list)

In [42]:
mydb=pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="ajay",
                        database="youtube_data")
cursor=mydb.cursor()

drop_query='''DROP TABLE IF EXISTS comments'''
cursor.execute(drop_query)
mydb.commit()



create_query='''CREATE TABLE IF NOT EXISTS comments(Comment_Id varchar(100) primary key,
                                                    Video_Id varchar(50),
                                                    Comment_Text text,
                                                    Comment_Author varchar(150),
                                                    Comment_Published DATETIME
                                                    )'''

cursor.execute(create_query)
mydb.commit()